<launch>
	<node name="world" pkg="stage_ros" type="stageros" args="$(find second_assignment)/world/my_world.world"/>
	<node name="robot_controller" pkg="second_assignment" type="robot_controller" output="screen"/>
	<node name="robot_server" pkg="second_assignment" type="robot_server" required="true"/>
	<node name="robot_UI" pkg="second_assignment" type="robot_UI" output="screen"/>
/<launch>
