<launch>
	<node name = "world" pkg = "stage_ros" type = "stageros" args = "$(find second_assignment)/world/my_world.world"/>
	<node name = "controller" pkg = "second_assignment" type = "robot_controller" output = "screen"/>
	<node name = "server" pkg = "second_assignment" type = "robot_server" output = "screen" required = "true"/>
	<node name = "UI" pkg = "second_assignment" type = "robot_UI" output = "screen"/>
</launch>
